@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
  color: #fff;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.neon-border {
  box-shadow:
    0 0 8px #0ff,
    0 0 16px #0ff,
    0 0 24px #0ff;
  border: 1px solid #0ff;
} 